.auth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.or {
  color: #999;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.horizontal {
  border-top: 1px solid #c7c7c7;
  width: 80px;
  padding-right: 10px;
}

.auth-img {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

.about {
  margin-left: 30px;
}

.auth-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 8%;
}

.form-description {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.box {
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  padding: 36px 36px 36px 36px;
  margin-bottom: 15px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

.box-link {
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  padding: 20px 36px 20px 36px;
  margin-bottom: 15px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

.auth-form {
  .button {
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: $blue;
    border: none;
    padding: 10px;
    width: 258px;
    margin: 3px 0;
    margin-top: 12px;
  }

  .button:active {
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #87c0f6;
    border: none;
    padding: 10px;
    width: 258px;
    margin: 3px 0;
    margin-top: 12px;
  }

  .login-input {
    background-color: #FFFFFF;
    font-size: 14px;
    width: 240px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 3px 0;
    position: relative;
    padding: 9px 8px 7px;
  }

  .form-header {
    font-family: 'Cookie', cursive;
    font-size: 60px;
  }

  .form-link {
    padding: 26px;
  }

  .form-header {
    background-color: #FFFFFF;
  }

  .login-form {
    background-color: #FFFFFF;
  }

}
