.auth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  background-color: #FFFFFF;
  border: 1px solid #efefef;
  padding: 40px 40px 40px 40px;
  margin-bottom: 15px;
  width: 300px;
  text-align: center;
}

.auth-form {
  .button {
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: $blue;
    border: none;
    padding: 10px;
    width: 258px;
    margin: 3px 0;
    margin-top: 12px;
  }

  .button:active {
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #87c0f6;
    border: none;
    padding: 10px;
    width: 250px;
    margin: 3px 0;
  }

  .login-input {
    background-color: #FFFFFF;
    font-size: 14px;
    width: 240px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 3px 0;
    position: relative;
    padding: 9px 8px 7px;
  }

  .form-header {
    font-family: 'Cookie', cursive;
    font-size: 60px;
  }

  .form-link {
    padding: 26px;
  }

  .form-header {
    background-color: #FFFFFF;
  }

  .login-form {
    background-color: #FFFFFF;
  }

}
