.nav-section {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $blue;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-logo {
  padding-left: 180px;
  width: 30px;
  background: #FFFFFF;
  font-family: 'Cookie', cursive;
  font-size: 30px;
  display: inline-block;
}

.nav-link {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-divider {
  height: 30px;
  border-right: 1px solid #999;
  padding: 0 8px;
  background: #FFFFFF;
}

.nav-instagramme {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  background: #FFFFFF;
  display: inline-block;
  padding: 12px;
}

.nav-icons {
  background: #FFFFFF;
  padding-right: 180px;
}

.nav-profile-link {
  padding-left: 30px;
  background: #FFFFFF;
}
