.nav-section {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

.nav-logo {
  width: 30px;
}

.nav-instagramme {
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

.nav-icons {

}
