.upload-section-main {
  // display: inline;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 80px;
}

.upload-section {
  background-color: $med-gray;
  margin-top: 15px;
}

.upload-form {
  // float: right;
  background-color: $light-gray;
}

.dropzone {
  // float: left;
  background-color: $med-gray;
  color: $dark-gray;
  padding: 50px;
}

.dropzone-msg {
  // float: left;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.upload-submit {
  border-radius: 4px;
  font-size: 16px;
  color: $light-gray;
  background-color: $blue;
  border: none;
  padding: 10px;
  width: 258px;
  margin: 3px 0;
  margin-top: 12px;
}

.upload-submit:active {
  background-color: #87c0f6;
  border-radius: 4px;
  font-size: 16px;
  color: $light-gray;
  border: none;
  padding: 10px;
  width: 258px;
  margin: 3px 0;
  margin-top: 12px;
}

.upload-inputs {
  font-size: 14px;
  width: 100%;
  border: 1px;
  border-radius: 3px;
  margin: 3px 0;
  position: relative;
  padding: 9px 8px 7px;
  background-color: $light-gray;
}

.dropzone-msg {
  background-color: $med-gray;
  color: $dark-gray;
}
