.profile-photo {
  width: auto;
  height: auto;
  max-width:230px;
  max-height:230px;
  display: block;
  border-radius: 50%;
}

.post-grid {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;

}

// .post-grid a {
//   margin: 0 30px 30px 0;
//
// }

.post-list-item {
  list-style-type: none;
  overflow:hidden;
  position: relative;
  height: 290px;
  width: 290px;
}


.post-list-item  img {
  height: 290px;
  width: 290px;
  object-fit: cover;
  padding: 20px;
}

.post-list-item li {
  width: 290px;
  height: 290px;
}

.profile-photos {
  display: flex;
  justify-content: center;
  align-items: center;
}
